
.h1 {
  text-align: center;
  color: #005498;
}

.styled-table {
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* .center-table {
  margin-left: auto;
  margin-right: auto;
} */

/* .margin-table { 
  margin-left: 20rem;
  margin-right: 20rem;
} */

.styled-table thead tr {
  background-color: #005498;
  color: #ffffff;
  text-align: left;
}

/* .styled-table th,
.styled-table td {
  padding: 12px 15px;
} */

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #005498;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #005498;
}

.input { 
  width: 125px;
  border: cornflowerblue;
}

.currency::after {
  content: "€";
}

.percent::after {
  content: "%"
}